# fly.toml app configuration file generated for etf-rs-analyzer on 2025-12-29T16:23:03+05:30
app = 'etf-rs-analyzer'
primary_region = 'bom'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [services.concurrency]
    type = "requests"
    hard_limit = 25
    soft_limit = 20
    span = "10s"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
